<a href="/posts/all">Home</a>

    <h1>{{post.title}}</h1>

    <p>{{post.url}}</p>


    <p class="username">Posted by {{post.author.username}}</p>
    <div>
        <li class="list-group-item">
            <div class="lead">{{post.title}}</div>
                <a href="{{post.url}}" target="_blank">{{post.url}}<a>


        </li>   
        {{post.content}}
    </div>

    <form action="/post/{{post._id}}/comments" method="POST" >
        <textarea class='form-control' name="comment" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>

    {{#each post.comments}} 
    <div class="comment">
        <p>{{this.author.username}} commented</p>  
       <p>{{this.comment}}</p>
    </div>
    {{/each}}
